body {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 30px auto;
    padding: 10px;
    background: #f9f9f9;
}

h1 {
    color: #333;
}

form label {
    display: block;
    margin-bottom: 10px;
}

.error {
    color: red;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #007BFF;
    color: white;
}

td, th {
    padding: 8px;
    border: 1px solid #ccc;
}
