
.navbar{
    display: flex;
    flex-direction: column; /*vertical => fara linia 4 pentru orizontal*/
    padding: 0;
}

.navbar li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navbar li, .navbar a{
    height: 84px;
    width: 84px;
    display: block;
}

#facebook{
    background: url("pr4.png") 0px 84px;
}

#puncte{
    background: url("pr4.png") -84px 84px;
}

#minge{
    background: url("pr4.png") -168px 84px;
}

#google{
    background: url("pr4.png") -252px 84px;
}

#linkedin{
    background: url("pr4.png") -336px 84px;
}

#p{
    background: url("pr4.png") -420px 84px;
}

#wifi{
    background: url("pr4.png") -504px 84px;
}

#skype{
    background: url("pr4.png") -588px 84px;
}

#twiter{
    background: url("pr4.png") -672px 84px;
}

#v{
    background: url("pr4.png") -756px 84px;
}

#youtube{
    background: url("pr4.png") -840px 84px;
}




#facebook:hover{
    background: url("pr4.png") 0 0px;
}

#puncte:hover{
    background: url("pr4.png") -84px 0px;
}

#minge:hover{
    background: url("pr4.png") -168px 0px;
}

#google:hover{
    background: url("pr4.png") -252px 0px;
}

#linkedin:hover{
    background: url("pr4.png") -336px 0px;
}

#p:hover{
    background: url("pr4.png") -420px 0px;
}

#wifi:hover{
    background: url("pr4.png") -504px 0px;
}

#skype:hover{
    background: url("pr4.png") -588px 0px;
}

#twiter:hover{
    background: url("pr4.png") -672px 0px;
}

#v:hover{
    background: url("pr4.png") -756px 0px;
}

#youtube:hover{
    background: url("pr4.png") -840px 0px;
}