table {
    border-collapse: collapse;
    width: 50%;
    margin-bottom: 20px;
  }
th, td {
    border: 1px solid #999;
    padding: 8px;
    text-align: left;
    width: 100px;
}
th {
    background-color: #eee;
    cursor: pointer;
}